{% extends "base.html" %}

{% block title%} - User Input {% endblock %}

{% block head%}
    {{ super() }}
{% endblock%}

{% block content%}

<br><br><br><br>

<section class="jumbotron text-left centered-form-section">
    <div class="container">
        <div class="card border-primary border-5 border rounded-bottom rounded-top">
            <div class="card-body">
                <h2 class="text-center">Submit spreadsheet</h2>

                <form enctype="multipart/form-data" method="post">
                    <div class="form-group text-center">
                        <label for="file">Enter an Excel file:</label>
                        <input type="file" name="file" accept=".xlsx" required>
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br>
                        <p class="text-danger">{{errorMessage}}</p>
                    </center>
                </form>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}