<!-- Retrieve base -->
{% extends "base.html" %}

<!-- Insights title -->
{% block title %} - Insights {% endblock %}

{% block head %}
    {{ super() }}
    <!-- Style for buttons -->
    <style>
        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        button{
            display: block;
            margin: 10px auto;
            padding: 5px;
        }

    </style>
{% endblock %}

{% block content %}
    <!-- Download button -->
    <div class="button-container" data-aos="fade-up-right">
        <a href="{{ url_for('downloadFile', filename=filename) }}" class="btn btn-primary">Download Result.xlsx</a>
    </div>

    <br><br>

    <!-- To submit another spreadsheet -->
    <div data-aos="fade-down-right">
        <center>
        <label>
            <button id="homePageButton" class="btn btn-primary">
                Submit another spreadsheet
            </button>
        </label>
        </center>
    </div>

    <br><br>
    <!-- Tables for results -->
    <center>
        <div class="table table-responsive" data-aos="fade-up-left">
            {{ geoTable|safe }}
        </div>

        <br><br>

        <div class="table table-responsive" data-aos="fade-right">
            {{ tempoTable|safe }}
        </div>

        <br><br>

        <div class="table table-responsive" data-aos="fade-up-left">
            {{ dealTypeTable|safe }}
        </div>
    </center>

    <!-- Javascript to ensure user can go back to home page -->
    <script>
        document.getElementById("homePageButton").addEventListener("click", function(event) {
                    event.preventDefault();
                    window.location.href = "/";});

        AOS.init();
    </script>
{% endblock %}