{% extends "base.html" %}

{% block title %} - Insights {% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        button{
            display: block;
            margin: 10px auto;
            padding: 5px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="button-container">
        <a href="{{ url_for('downloadFile', filename=filename) }}" class="btn btn-primary">Download Result.xlsx</a>
    </div>

    <br><br>

    <div>
        <center>
        <label>
            <button id="homePageButton" class="btn btn-primary">
                Submit another spreadsheet
            </button>
        </label>
        </center>
    </div>

    <br><br>
    <section class="jumbotron text-left">
        <div class="hstack">
            <div class="container">
                <div class="card-group">
                <div class="card">
                    <h2 class="card-title card-header text-center">Goegraphical Regions Data</h2>
                    <div class="card-body">
                    <div class="card-text">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Geographical Region</th>
                                    <th scope="col">Transaction Count</th>
                                    <th scope="col">Transaction Value Mean</th>
                                    <th scope="col">Transaction Value STD</th>
                                    <th scope="col">Transaction Value Max</th>
                                    <th scope="col">Transaction Value Min</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">United Kingdom</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">South Korea</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Europe</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">China</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Norway</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">United States</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Thailand</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Canada</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </section>    

    <br><br><br><br>

    <section class="jumbotron text-left">
        <div class="hstack">
            <div class="container">
                <div class="card-group">
                <div class="card">
                    <h2 class="card-title card-header text-center">Correlation of Time Data</h2>
                    <div class="card-body">
                    <div class="card-text">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Month</th>
                                    <th scope="col">Transaction Count</th>
                                    <th scope="col">Transaction Value Mean</th>
                                    <th scope="col">Transaction Value STD</th>
                                    <th scope="col">Transaction Value Max</th>
                                    <th scope="col">Transaction Value Min</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">June</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">August</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">September</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">October</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div> 
                </div>
            </div>
        </div>
    </section>  

    <br><br><br><br>

    <section class="jumbotron text-left">
        <div class="hstack">
            <div class="container">
                <div class="card-group">
                <div class="card">
                    <h2 class="card-title card-header text-center">Type of Transactions Data</h2>
                    <div class="card-body">
                    <div class="card-text">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">M&A Deal Attribute</th>
                                    <th scope="col">Transaction Count</th>
                                    <th scope="col">Transaction Value Mean</th>
                                    <th scope="col">Transaction Value STD</th>
                                    <th scope="col">Transaction Value Max</th>
                                    <th scope="col">Transaction Value Min</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Company Takeover</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Reverse Merger</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Additional Stake Purchase</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Minority Purchase</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Private Placement</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Cross Border</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Asset Sale</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Majority Purchase</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Related Party Transaction</th>
                                    <td>{{UKCount}}</td>
                                    <td>{{UKMean}}</td>
                                    <td>{{UKSTD}}</td>
                                    <td>{{UKMIN}}</td>
                                    <td>{{UKMax}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </section>  

    <script>
        document.getElementById("homePageButton").addEventListener("click", function(event) {
                    event.preventDefault();
                    window.location.href = "/";});
    </script>
{% endblock %}